.chartm {
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 30px 10px 30px 10px;
    height: 100%;
    width: 50%;
    /* دسکتاپ */
}

/* تبلت و کوچکتر (<= 991px) */
@media (max-width: 991.98px) {
    .chartm {
        width: 94%;
        margin: 0 auto;
        height: 94%;
        padding-top: 0.5rem;
        /* موبایل */
    }
}

/* موبایل افقی و کوچکتر (<= 767px) */
@media (max-width: 767.98px) {
    .chartm {
        width: 94%;
        margin: 0 auto;
        height: 94%;
        padding-top: 0.5rem;
        /* موبایل */
    }
}