
.acts-box *{
cursor: pointer;
color: var(--blue);
font-size: 1.2rem;
}



.table {
  border-collapse: collapse;
  width: 90% !important;
  background-color: #fff;
}

.table th, 
.table td {
  border: 1px solid #e0e0e0; /* خطوط خاکستری ملایم */
  padding: 12px 16px;
  text-align: center;
  vertical-align: middle;
}

.table th {
  font-weight: 600;
  color: #333;
}

.product-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
}