.product-form {
    display: flex;
    gap: 1rem;
}

.product-form input {
    border: none;
    outline: none;
    background: var(--white-50);
    padding: 5px 25px 5px 0;
    border-radius: 6px;
}

.product-form input::placeholder {
    font-size: .8rem;
}

.product-form>div {
    position: relative;
}

.product-form>div .icn {
    position: absolute;
    top: 25%;
    right: 4px;
}

.product-form .submit-btn {
    border: 2px solid var(--blue);
    color: var(--blue);
    background: var(--white);
    border-radius: 6px;
    height: 36.5px;
}

.addProduct-form .submit-btn {
    align-self: self-end;
}

.product-form .submit-btn:hover {
    color: var(--white);
    background: var(--blue);
    transition: all 600ms;
}

/* تبلت و کوچکتر (<= 991px) */
@media (max-width: 991.98px) {

    .addProduct-form {
        flex-direction: column;
    }

    .addProduct-form .submit-btn {
        align-self: center;
    }
}

/* موبایل افقی و کوچکتر (<= 767px) */
@media (max-width: 767.98px) {
    .addProduct-form {
        flex-direction: column;
    }

    .addProduct-form .submit-btn {
        align-self: center;
    }
}