.modal-parent {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    display: none;
}

.modal-parent.active {
    display: flex;
}

.modal-box {
    display: flex;
    padding: 0.5rem;
    background: var(--white);
    border-radius: 6px;
}



/* Start Delete Modal styles */
.delete-modal-box {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 18rem;
    height: 6rem;
}

.modal-btns {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-top: 0.5rem;
}

.modal-btns button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 6px 1rem;
    border-radius: 6px;
}




/* Start Info Modal styles */
.swiper {
    width: 100%;
    height: 100%;
}

.info-modal-box {
    width: 90%;
    height: 80vh;
    flex-direction: column;
    justify-content: space-between;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-info {
    color: var(--blue);
    font-size: 1.2rem;
}

.product-info {
    width: max-content;
}

.product-info-item {
    border-bottom: 2px solid rgba(184, 184, 184, 0.3);
    padding: 6px 0;
}

.product-image {
    width: 16rem;
    height: 16rem;
    margin-bottom: 1rem;
}

.product-parent-popularity {
    width: 100%;
    height: 1.5rem;
    background: rgb(213, 213, 213);
    border-radius: 8px;
    direction: ltr;
}

.product-popularity {
    height: 100%;
    width: 50%;
    background: var(--blue);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    color: rgb(213, 213, 213);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-info-modal-box {
    display: none;
}

/* Start Edit Modal styles */
.edit-modal-box {
    width: 50%;
    height: 70vh;
}

.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editProduct-form {
    flex-direction: column;
}

.editProduct-form .submit-btn {
    margin: 2rem 30% 0 30%;
}

/* تبلت و کوچکتر (<= 991px) */
@media (max-width: 991.98px) {
    .info-modal-box {
        width: 70%;
        height: 70vh;
    }

    .info-modal-box-content {
        flex-direction: column;
    }

    .product-info {
        width: 60%;
    }

    .product-info-image {
        width: 10rem;
        height: 10rem;
    }

    .desctop-info-modal-box {
        display: none;
    }

    .mobile-info-modal-box {
        display: flex;
    }
}

/* موبایل افقی و کوچکتر (<= 767px) */
@media (max-width: 767.98px) {
    .info-modal-box {
        width: 90%;
        height: 85vh;
    }

    .info-modal-box-content {
        flex-direction: column;
    }

    .product-info {
        width: 100%;
    }

    .product-info-image {
        width: 10rem;
        height: 10rem;
    }

    .desctop-info-modal-box {
        display: none;
    }

    .mobile-info-modal-box {
        display: flex;
    }

    .edit-modal-box {
        width: 90%;
        height: 80vh;
    }
}