.newMemberList {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
    padding: 30px 10px 30px 0;
    width: 40%;
    background: var(--white);
}

.newMember {
    border-bottom: solid 1px rgba(128, 128, 128, .4);
}

.newMemberAvatar {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    padding: .25rem;
}

.newMemberInfo {
    width: 50%;
}

.visibilityIcon {
    background: rgb(216, 216, 216);
    color: black;
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.userSkill {
    font-size: 12px;
    opacity: .6;
}

.userSkill,
.userName {
    margin: 0;
}
.user-status-online{
    width: 12px;
    height: 12px;
    background: rgb(0, 141, 0);
    border-radius: 50%;
    bottom: 2px;
    right: 8px;
}
.user-status-offline{
    width: 12px;
    height: 12px;
    background: rgb(216, 130, 0);
    border-radius: 50%;
    bottom: 2px;
    right: 8px;
}


/* Extra small devices (xs) */
@media (max-width: 575.98px) {
    .newMemberList {
        width: 100%;
    }

    .newMemberAvatar {
        width: 2.5rem;
        height: 2.5rem;
    }

    .userName {
        font-size: .6rem;
    }

    .userSkill {
        font-size: .4rem;
    }
}

/* Small devices (sm) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .newMemberList {
        width: 100%;
    }

    .newMemberAvatar {
        width: 2.5rem;
        height: 2.5rem;
    }

    .userName {
        font-size: .6rem;
    }

    .userSkill {
        font-size: .4rem;
    }
}

/* Medium devices (md) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .newMemberList {
        width: 40%;
    }

    .newMemberAvatar {
        width: 2.5rem;
        height: 2.5rem;
    }

    .userName {
        font-size: .6rem;
    }

    .userSkill {
        font-size: .4rem;
    }
}

/* Large devices (lg) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (xl) */
@media (min-width: 1200px) and (max-width: 1399.98px) {}

/* Extra extra large devices (xxl) */
@media (min-width: 1400px) {}