.error-box {
    width: 80%;
    background-color: var(--blue);
    color: var(--white);
    margin: 1rem auto 0 auto;
    padding: 2rem 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 8px;
}

.error-message {
    font-size: 2rem;
    text-align: center;
    animation: pulseText 1.8s ease-in-out infinite;
}

@keyframes pulseText {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.08);
        opacity: 0.95;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}