.modal-parent {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    display: none;
}
.modal-parent.active{
    display: flex;
}
.modal-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20rem;
    height: 8rem;
    padding: 0.5rem;
    background: var(--white);
    border-radius: 6px;
}

.modal-btns {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-top: 0.5rem;
}

.modal-btns button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 6px 1rem;
    border-radius: 6px;
}