.modal-parent {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, .8);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    display: none;
}

.modal-parent.active {
    display: flex;
}

.modal-box {
    display: flex;
    /* flex-direction: column;
    justify-content: space-around; */
    /* align-items: center; */
    padding: 0.5rem;
    background: var(--white);
    border-radius: 6px;
}

.modal-btns {
    display: flex;
    gap: 1rem;
    justify-content: center;
    padding-top: 0.5rem;
}

.modal-btns button {
    background-color: var(--blue);
    color: var(--white);
    border: none;
    padding: 6px 1rem;
    border-radius: 6px;
}

/* Info Modal */
.info-modal-box {
    width: 90%;
    height: 80vh;
    align-items: center;
    justify-content: space-around;
}

.title-info {
    color: var(--blue);
    font-size: 1.2rem;
}

.product-info {
    width: max-content; 
}

.product-info-item {
    border-bottom: 2px solid rgba(184, 184, 184, 0.3);
    padding: 6px 0;
}
.product-info-image{
    width: 14rem;
    height: 14rem;
    margin-bottom: 1rem;
}
.product-popularity{
    width: 100%;
    height: 1.5rem;
    background: rgb(213, 213, 213);
    border-radius: 8px;
}